:root {
  --be-project-hover: hotpink;
  --be-project-background: black;
  --be-hover-text: white;
  --be-project-button-hover: grey;
}

.carousel-item {
  min-width: 1000px;
  min-height: 900px;
}

#be-project {
  background-image: url(../../assets/fe-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

#be-project h1 {
  font-size: 4rem;
  font-family: 'Allerta Stencil', sans-serif;
  /* background-color: transparent; */
}

.be-project-image img {
  height: auto;
  max-height: 30rem;
}

.be-portfolio {
  color: var(--be-hover-text);
  text-transform: none;
}

.carousel-control-prev {
  left: 5%;
  font-size: 30px;
  transition: transform 0.3s ease;
}

.carousel-control-next {
  right: 5%;
  font-size: 30px;
  transition: transform 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  transform: scale(1.5);
}

.be-project-title {
  text-decoration: underline;
  text-underline-offset: .3rem;
}

.be-project-item-image {
  border-radius: 1rem;
  overflow: hidden;
  height: 30rem;
}

.be-project-image img {
  height: 30rem;
}

.be-project-item h3 {
  font-family: "Preahvihear", sans-serif;
}

.be-project-description {
  margin: 25rem;
}

.be-project-item h4 {
  font-size: 1rem;
  font-family: "Preahvihear", sans-serif;
}

.be-project-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.be-github-btn,
.be-live-btn {
  background-color: var(--be-project-hover);
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--be-project-background);
  font-weight: bold;
}

.be-github-btn:hover {
  background-color: var(--be-project-button-hover);
  color: var(--be-hover-text);
  transform: scale(1.1);
}

.be-live-btn:hover {
  background-color: var(--be-project-button-hover);
  color: var(--be-hover-text);
  transform: scale(1.1);
}

@media screen and (max-width: 1440px) {
  .be-project-description {
    margin: 15rem;
}
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 600px) {
  
}