:root {
    --logo-background: rgb(16, 18, 18);
    --logo-title: hotpink;
}

#logo {
    background-color: var(--logo-background);
    height: 100vh;
}

.logo-title {
    border: solid 2px white;
    background-color: transparent;
    text-transform: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 2rem;
}

.logo-projects {
    display: flex;
    justify-content: center;
}

.ddclogo {
    width: 40rem;
    height: auto;
    border-radius: 2rem;
}

@media screen and (max-width: 425px) {
    .ddclogo {
        width: 25rem;
    }
}

@media screen and (max-width: 375px) {
    .ddclogo {
        width: 20rem;
    }
}

@media screen and (max-width: 375px) {
    .ddclogo {
        width: 15rem;
    }
}