:root {
    --back-end-skills: black;
}

#back-end-skills {
    font-family: "Preahvihear", sans-serif;
}

.back-end-section-title {
    font-size: 1rem;
    text-underline-offset: .5rem;
}

.back-end-skill-icon {
    width: 50px;
    height: 50px;
}

.back-end-skill-div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
}


@media screen and (max-width: 1440px) {
    .back-end-skill-div {
        width: 20vw;
    }
}

@media screen and (max-width: 1280px) {
    .back-end-skills-container {
        display: flex;
        flex-direction: column;
    }

    .back-end-section-title {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .back-end-skill-div {
        width: 30vw;
    }
}