:root {
  --name: white;
}

#header {
  padding-top: 3rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(120, 120, 120, 1) 100%);
  min-height: 100vh;
}

.header-container h1 {
  font-family: "Preahvihear", sans-serif;
  color: var(--name);
  background-color: transparent;
  text-transform: none;
  font-size: 60px;
}

.header-container h4 {
  font-family: 'Playpen Sans', cursive;
  font-size: 2rem;
  color: var(--name);
}

.my-desc {
  font-family: 'Playpen Sans', cursive;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .header-container h1 {
    margin-left: auto;
    font-size: 5rem;
  }

  .header-container h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header-container h1 {
    margin-left: auto;
    font-size: 4rem;
  }

  .header-container h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .header-container h1 {
    margin-left: auto;
    font-size: 3rem;
  }

  .header-container h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .header-container h1 {
    margin-left: auto;
    font-size: 2rem;
  }

  .header-container h4 {
    font-size: 1.5rem;
  }
}