:root {
    --fe-project-hover: hotpink;
    --fe-project-background: black;
    --fe-hover-text: white;
    --fe-projects: #000000;
}

#fe-project {
    background: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
}

#fe-project h1 {
    font-size: 4rem;
    font-family: 'Allerta Stencil', sans-serif;
    border: solid 2px white;
    background-color: transparent;
}

.fe-portfolio {
    color: var(--fe-hover-text);
    text-transform: none;
}

.fe-projects {
    border: .3rem solid white;
    background-color: var(--fe-projects);
    border-radius: 1rem;
    padding: 1rem;
}

.fe-project-title {
    text-decoration: underline;
    text-underline-offset: .3rem;
}

.img-fluid {
    min-height: 25rem;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.fe-project-item h3 {
    font-family: "Preahvihear", sans-serif;
}

.fe-project-description {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
}

.fe-project-item h4 {
    font-size: 1rem;
    font-family: "Preahvihear", sans-serif;
}

.fe-project-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.fe-github-btn,
.fe-live-btn {
    background-color: var(--fe-project-hover);
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--fe-project-background);
    font-weight: bold;
}

.fe-github-btn:hover {
    background-color: var(--fe-project-background);
    color: var(--fe-hover-text);
    transform: scale(1.1);
}

.fe-live-btn:hover {
    background-color: var(--fe-project-background);
    color: var(--fe-hover-text);
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    #fe-project h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 430px) {
    #fe-project h1 {
        font-size: 2rem;
    }
}