:root {
    --fe-project-hover: hotpink;
    --fe-project-background: black;
    --fe-hover-text: white;
    --fe-project-button-hover: rgb(0, 0, 0);
}

#fe-project {
    background-image: url(../../assets/fe-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

#fe-project h1 {
    font-size: 4rem;
    font-family: 'Allerta Stencil', sans-serif;
    /* background-color: transparent; */
}

.fe-portfolio {
    color: var(--fe-hover-text);
    text-transform: none;
}

.carousel-control-prev {
    left: 15%;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.carousel-control-next {
    right: 15%;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    transform: scale(1.5);
}

.fe-project-title {
    text-decoration: underline;
    text-underline-offset: .3rem;
}

.fe-project-item-image {
    border-radius: 1rem;
    overflow: hidden;
    height: 30rem;
}

.fe-project-image img {
    height: 30rem;
}

.fe-project-item h3 {
    font-family: "Preahvihear", sans-serif;
}

.fe-project-description {
    margin: 45rem;
}

.fe-project-item h4 {
    font-size: 1rem;
    font-family: "Preahvihear", sans-serif;
}

.fe-project-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.fe-github-btn,
.fe-live-btn {
    background-color: var(--fe-project-hover);
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--fe-project-background);
    font-weight: bold;
}

.fe-github-btn:hover {
    background-color: var(--fe-project-button-hover);
    color: var(--fe-hover-text);
    transform: scale(1.1);
}

.fe-live-btn:hover {
    background-color: var(--fe-project-button-hover);
    color: var(--fe-hover-text);
    transform: scale(1.1);
}

@media screen and (max-width: 1440px) {
    .fe-project-description {
        margin: 15rem;
    }
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 600px) {
    
}