:root {
    --graphic-projects-header: hotpink;
    --graphic-design-background: rgb(16, 18, 18);
}

#graphic-design-projects {
    background-color: var(--graphic-design-background);
}

.graphic-design-container {
    margin: 5rem;
}

.graphic-design-projects {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

#graphic-design-projects h1 {
    background-color: var(--graphic-projects-header);
    text-transform: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Allerta Stencil', sans-serif;
}

.equistaff, .danahall, .kentucky-tack, .virginia-a-circuit, .sarah-wildasin, .creekside-eventing, .cowan-ranch, .barn-staff-williston, .agri-associates, .ford-field, .barn-manager-boston, .diasti-stables, .scva, .exercise-rider, .graphic-designer, .groom-tryon, .hunter-jumper-washington, .minitube, .horse-show-organizer {
    max-width: 800px;
    max-height: 800px;
}

.ps-ad {
    width: 800px;
    height: 670px;
}

.candidate-flyer, .client-flyer {
    width: 800px;
    height: 1000px;
}