:root {
    --fs-project-hover: hotpink;
    --fs-project-background: black;
    --fs-hover-text: white;
    --fs-project-button-hover: grey;
  }
  
  #fs-project {
    /* background-image: url(../../assets/backgrounds/fs-background.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
  }
  
  #fs-project h1 {
    font-size: 4rem;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: var(--fs-project-hover);
  }
  
  .fs-portfolio {
    color: var(--fs-hover-text);
    text-transform: none;
  }
  
  .fs-project-title {
    text-decoration: underline;
    text-underline-offset: .3rem;
  }
  
  .fs-project-item-image {
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .fs-project-image img {
    max-height: 30rem;
    max-width: 100%;
    height: auto;
  }
  
  .fs-project-item h3 {
    font-family: "Preahvihear", sans-serif;
  }
  
  .fs-project-description {
    display: flex;
    justify-content: center;
    background-color: var(--fe-description);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .fs-project-item h4 {
    font-size: 1rem;
    font-family: "Preahvihear", sans-serif;
  }
  
  .fs-project-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }
  
  .fs-github-btn,
  .fs-live-btn {
    background-color: var(--fs-project-hover);
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--fs-project-background);
    font-weight: bold;
  }
  
  .fs-github-btn:hover {
    background-color: var(--fs-project-background);
    color: var(--fs-hover-text);
    transform: scale(1.1);
  }
  
  .fs-live-btn:hover {
    background-color: var(--fs-project-background);
    color: var(--fs-hover-text);
    transform: scale(1.1);
  }