:root {
  --nav-background: hotpink;
  --active-hover: grey;
  --nav-text: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Playpen Sans', cursive;
}

.nav-tabs {
  border: none;
}

.navbar a {
  font-size: 16px;
  color: var(--nav-text);
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: var(--nav-background) !important;
  background-color: var(--active-hover) !important;
}

ul {
  list-style-type: none;
}

.menus {
  display: flex;
  align-items: center;
}